<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>student</h1>
  <h2>이름 : {{student.name}}</h2>
  <h2>전화번호 : {{student.phone_num}}</h2>
  <h2>자기소개 : {{student.intro}}</h2>

  <a href="{% url 'edit' student.pk %}">수정하기 > </a>
  <a onclick="return confirm('정말 삭제하시겠습니까?');" href="{% url 'delete' student.pk student.class_num %}">삭제하기 > </a>
</body>
</html>