* { font-family: 'TmoneyRoundWindExtraBold';
    list-style: none;
    margin: 0;
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#slide{
    width: 80%;
    position: absolute;
    float: left;
}
#slide ul{position: absolute;}
#slide li{float: left;}


.wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap : wrap;
    align-items : center;
}

.left{
    display: flex;
    color: darkgreen;
}

.right{
    display: flex;
    justify-content : flex-end;
    color: darkgreen;
}

.main{
    display: flex;
    justify-content : center;
    width: 100%;
}

.item1{
    margin-left: auto;
    margin-right: auto;
    float: left; width: 25%;
}
.item2{
    margin-left: auto;
    margin-right: auto;
    float: left; width: 25%;
}
.item3{
    margin-left: auto;
    margin-right: auto;
    float: left; width: 25%;
}
.item4{
    margin-left: auto;
    margin-right: auto;
    float: left; width: 25%;
}

.i101{
    display: flex;
    justify-content : center;
    font-size: 30px;
}
.i102{
    display: flex;
    justify-content : center;
    height: auto;
}
.i103{
    display: flex;
    justify-content : center;
    font-size: 20px;
}

img{
    max-width: 100%;
  }

.side{
    position: relative;
    float: right;
    width: 20%;
    /* background-color;
    border-style: solid;
    border-width: 10px;
    border-color: burlywood; */
}

.주문{
    color: darkgreen;
    font-size: 38px;
}
.select{
    color: saddlebrown;
    font-size: 30px;
}

.side ul{position: absolute;}
.side li{display: flex;}

.select_name{
    float: left;
    font-size: 20px;
}

.blank{
    float: left;
    font-size: 20px;
}

.select_count{
    float: left;
    font-size: 20px;
}