<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>요리 추천</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipe.css' %}"/>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <div class="main">당신의 재료를 바탕으로</div>
    <div class="main">요리를 추천합니다</div><br><br>
    <div class="main"><img src="/static/images/restaurant.png" alt="포크"></div><br>
    <div class="recipe1"><a href="{% url 'recipe1' %}">{{ result1 }}</a></div>
    <div class="recipe2"><a href="{% url 'recipe2' %}">{{ result2 }}</a></div>
    <div class="recipe3"><a href="{% url 'recipe3' %}">{{ result3 }}</a></div>
</body>
</html>