<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>student</h1>
  <h2>이름 : {{student.name}}</h2>
  <h2>전화번호 : {{student.phone_num}}</h2>
  {% for post in student.post.all %}
    <h4>글 : {{post.intro}}</h4>
  {% endfor %}

  {% if user.is_authenticated and student.pk == user.student.pk %}
    <a href="{% url 'edit' student.pk %}">내 정보 수정하기 > </a>
  {% endif %}
</body>
</html>