<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재료 입력</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
</head>
<body>
    <div class="main1">언택트시대</div>
    <div class="main1">외식이 두려운 당신을 위한</div>
    <div class="main1">백선생과 함께하는</div>
    <div class="main1">냉장고 파먹기</div><br>
    <div class="main2"><img src="/static/images/kitchen.png" alt="냉장고"></div><br>
    <div class="main2">당신이 가지고 있는</div>
    <div class="main2">재료를 입력해주세요</div><br>
    <div class="input">
    <form action="{% url 'recipe' %}" method="POST">
        {% csrf_token %}
        <input id='food1' type='text' name="food1"/><br>
        <input id='food2' type='text' name="food2"/><br>
        <input id='food3' type='text' name="food3"/><br>
        <input id='food4' type='text' name="food4"/><br>
        <input id='food5' type='text' name="food5"/><br>
        <input id='food6' type='text' name="food6"/><br>
        <input id='food7' type='text' name="food7"/><br>
        <input id='food8' type='text' name="food8"/><br>
        <input id='food9' type='text' name="food9"/><br>
        <input id='submit' type='submit'>
    </form>
    </div>
</body>
</html>