<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>요리 추천</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipe.css' %}"/>
</head>
<body>
    <div class="main"><br>당신의 재료를 바탕으로</div>
    <div class="main">요리를 추천합니다</div><br><br>
    <div class="main"><img src="/static/images/restaurant.png" alt="냉장고"></div><br>
    <div class="recipe1"><a href="recipe1.html">김치전</a></div>
    <div class="recipe2">김치찌개</div>
    <div class="recipe3">김치볶음밥</div>
</body>
</html>