<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>김치전</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipe1.css' %}">
</head>
<body>


    <div class="main">김치전</div><br>
        <div class="wrap">
        <div class="youtube"><iframe width="400" height="320" src="https://www.youtube.com/embed/47OIcvpqxlo?list=PLoABXt5mipg6mIdGKBuJlv5tmQFAQ3OYr" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>   
        <div class="재료">
            <pre>
            신김치 약2컵(260g)
            황설탕 1/2큰술(6g)
            물 1과2/3컵(300g)
            부침가루 2컵(220g)
            청양고추 2개(20g)
            대파 2/5대(40g)
            소시지 2개(90g)
            고운고춧가루 1큰술(6g)
            식용유 적당량
            </pre>
        </div>
    </div>
    <div class="요리법">
        <pre>
        1. 신 김치는 가위를 이용하여 잘게 자른다.
        (신 김치가 아니면 양조식초를 넣어주면 된다.)
        2. 대파와 청양고추는 송송 썬다.
        3. 소시지는 최대한 얇게 편 썬다.
        4. 큰 볼에 신 김치, 대파, 청양고추, 소시지를 넣고 섞는다.
        5. 고운 고춧가루, 황설탕, 부침가루, 물을 넣어 뭉치지 않게 섞는다.
        6. 프라이팬을 달군 뒤 식용유를 넉넉히 두르고 반죽을 넣어 얇게 편다.
        7. 반죽이 익기 시작하면 팬을 돌려가며 기름이 김치전 안쪽으로 들어가게 한다.
        8. 가장자리 윗부분이 익기 시작하면 뒤집는다.
        9. 뒤집은 후 팬을 돌려가면서 부쳐주고 완전히 익으면 다시 한번 뒤집어 익힌 뒤 완성한다.
        </pre>
    </div>
    <div class="wrap">
        <div class="홈화면으로"><a href="food.html">홈화면으로</a></div>&emsp;
        <div class="이전으로"><a href="recipe.html">이전으로</a></div>
    </div>
</body>
</html>