.con1 {
    width: 500px;
    height: 110px;

    display: flex;
    justify-content: flex-start;
}
.con2 {
    width: 500px;
    height: 110px;

    display: flex;
    justify-content: center;
}
.con3 {
    width: 500px;
    height: 110px;

    display: flex;
    justify-content: flex-end;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: lightcoral;

    margin: 3px;
}