* { font-family: 'S-CoreDream-7ExtraBold';
    text-decoration: none;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:link {color:black; text-decoration: none;}
a:visited {color: black; text-decoration: none;}
a:hover { color: green; text-decoration: none;}


.main0{
    display: flex;
    font-size: 40px;
    justify-content : center;
}


.main{
    display: flex;
    font-size: 40px;
    justify-content : center;
    color: green
}

.recipe1{
    display: flex;
    font-size: 50px;
    justify-content : center;
}

.recipe2{
    display: flex;
    font-size: 50px;
    justify-content : center;
}

.recipe3{
    display: flex;
    font-size: 50px;
    justify-content : center;
}