* { font-family: 'S-CoreDream-7ExtraBold';
    text-decoration: none;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a:link {color:black; text-decoration: none;}
a:visited {color: black; text-decoration: none;}
a:hover { color:darkblue; text-decoration: none;}




.이전으로{
    display: flex;
    justify-content : center;
}

.wrap{
    display: flex;
    justify-content : center;
}

.main{
    display: flex;
    font-size: 40px;
    justify-content : center;
}

.youtube{
    display: flex;
    justify-content : center;
}

.재료{
    display: flex;
    font-size: 20px;
    justify-content : center;
}

.요리법{
    display: flex;
    font-size: 20px;
    justify-content : center;
}