<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>burger_1</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
</head>
<body>
    <br>
    <br>
    <br>
    <div class="img"><img src="https://i.vimeocdn.com/player/435851.png?mw=100&mh=100" alt="광주인공지능사관학교"></div>
    <div class="main">
        <br>
        <div class="main_1">L버거에</div>
        <div class="main_1">오신 것을</div>
        <div class="main_3">환영합니다</div>
    </div>
    <div class="sub_1">
        <br>
        <br>
        주문하시려면
    </div>
    <div class="sub_2">

<!--        <form action="{% url 'voice' %}" method="POST">-->
<!--            {% csrf_token %}-->
<!--            <button type="submit">로그인하기 > </button>-->
<!--        </form>-->

        <button type="button" onclick="location.href='/menu1.html'">주문</button>
    </div>

    <script>
        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;

        var grammar = '#JSGF V1.0; grammar colors; public <color> = aqua | azure | beige | bisque | black | blue | brown | chocolate | coral | crimson | cyan | fuchsia | ghostwhite | gold | goldenrod | gray | green | indigo | ivory | khaki | lavender | lime | linen | magenta | maroon | moccasin | navy | olive | orange | orchid | peru | pink | plum | purple | red | salmon | sienna | silver | snow | tan | teal | thistle | tomato | turquoise | violet | white | yellow ;'
        
        var recognition = new SpeechRecognition();
        var speechRecognitionList = new SpeechGrammarList();
        speechRecognitionList.addFromString(grammar, 1);
        
        recognition.grammars = speechRecognitionList;
        {% comment %} 인식된 문장을 하나로 합쳐 줌. True일 경우 중간에 쉬어도 인식이 끊기지 않는다. {% endcomment %}
        recognition.continuous = false; 
        recognition.lang = 'ko-kr';
        {% comment %} 최종적으로 인식된 문장을 확인할지 실시간으로 인식된 문장을 확인할지 결정하는 recognition.interimResults {% endcomment %}
        recognition.interimResults = false;
        recognition.maxAlternatives = 1;

        {% comment %} var diagnostic = document.querySelector('.output');
        var bg = document.querySelector('html'); {% endcomment %}
        
        document.body.onload = function() {
            recognition.start();
            console.log('주문 받을 준비가 되었습니다.');
        }

        recognition.onresult = function(event) {
            var last = event.results[0][0].transcript;
            
            var searchresult = last.search("주문");
            console.log(last, searchresult);
            if (searchresult != -1){
                {% comment %} console.log(searchresult, -1);
                console.log(typeof searchresult, typeof -1); {% endcomment %}
                alert("주문 페이지로 이동합니다.")
                window.location.href='/menu1.html'
            }
        }
        

        recognition.onerror = function(event) {
            message.textContent = 'Error occured in recognition: ' + event.error;
        }

        

    </script>
</body>
</html>