<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu2</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}" />
</head>
<body>
    <div class="wrap">
        <div class="left">이전 페이지 보기</div>
        <div class="주문">주문하실 버거의 이름과 수량을 말씀해주세요</div>
        <div class="right">다음 페이지 보기</div>
    </div>
    <br>
    <div class="main">
       <div class="item1">
            <div class="i101">치킨버거</div>
            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/294/DetailImage.jpg" alt="치킨버거"></div>
            <div class="i103">2,900원</div>
        </div> 
        <div class="item2">
            <div class="i101">T-Rex</div>
            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/290/DetailImage.jpg" alt="T-Rex"></div>
            <div class="i103">3,700원</div>
        </div>
        <div class="item3">
            <div class="i101">클래식 치즈버거</div>
            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/238/DetailImage.jpg" alt="클래식 치즈버거"></div>
            <div class="i103">4,400원</div>
        </div>
    </div>
    <br>
    <div class="main">
        <div class="item4">
            <div class="i101">한우불고기</div>
            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/233/DetailImage.jpg" alt="한우불고기"></div>
            <div class="i103">7,000원</div>
        </div>
        <div class="item4">
            <div class="i101">모짜렐라 인 더 버거</div>
            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/231/DetailImage.jpg" alt="모짜렐라 인 더 버거"></div>
            <div class="i103">6,000원</div>
        </div>
        <div class="item4">
            <div class="i101">AZ버거</div>
            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/219/DetailImage.jpg" alt="AZ버거"></div>
            <div class="i103">6,600원</div>
        </div>
    </div>
</body>
</html>