<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu3</title><link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}" />
</head>
<body>
    <div class="wrap">
        <div class="left">이전 페이지 보기</div>
        <div class="주문">주문하실 버거의 이름과 수량을 말씀해주세요</div>
        <div class="right">              </div>
    </div>
    <br>
    <div class="main">
       <div class="item1">
            <div class="i101">원조 빅불</div>
            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/143/DetailImage.jpg" alt="원조 빅불"></div>
            <div class="i103">5,800원</div>
        </div> 
        <div class="item2">
            <div class="i101">핫크리스피버거</div>
            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/100/DetailImage.jpg" alt="핫크리스피버거"></div>
            <div class="i103">4,900원</div>
        </div>
    </div>
    <br>
    <div class="main">
        <div class="item3">
                <div class="i101">불고기버거</div>
                <div class="i102"><img src="http://www.lotteria.com//Data//Goods/68/DetailImage.jpg" alt="불고기버거"></div>
                <div class="i103">3,900원</div>
            </div>
        <div class="item4">
            <div class="i101">데리버거</div>
            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/26/DetailImage.jpg" alt="한우불고기"></div>
            <div class="i103">2,500원</div>
        </div>
    </div>
</body>
</html>