<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu1</title>
    <link rel="stylesheet" type="text/css" href="{% static 'menu.css' %}" />
    <script src="{% static 'script.js' %}"  defer="defer" type="text/javascript"></script>
    <script src="{% static 'jquery-1.12.3.js' %}" type="text/javascript"></script>
</head>
<body>
    <section>
        <div id="slide">
            <ul>
                <li>
                <div class="wrap">
                    <!-- <div class="left">                </div> -->
                    <!-- <div class="주문">주문하실 버거의 이름과 수량을 말씀해주세요</div> -->
                    <!-- <div class="right">다음 페이지 보기</div> -->
                </div>
                <br>
                
                <div class="main">
                    <div class="item1">
                        <div class="i101">폴더버거 핫치킨</div>
                        <div class="i102"><img src="http://www.lotteria.com//Data//Goods/330/DetailImage.jpg" alt="폴더버거 핫치킨"></div>
                        <div class="i103">5,700원</div>
                    </div>
                    <div class="item2">
                        <div class="i101">폴더버거 비프</div>
                        <div class="i102"><img src="http://www.lotteria.com//Data//Goods/327/DetailImage.jpg" alt="폴더버거 비프"></div>
                        <div class="i103">5,700원</div>
                    </div>
                    <div class="item3">
                        <div class="i101">리아미라클버거</div>
                        <div class="i102"><img src="http://www.lotteria.com//Data//Goods/318/DetailImage.jpg" alt="리아미라클버거"></div>
                        <div class="i103">5,600원</div>
                    </div>
                    <div class="item4">
                        <div class="i101">원조 빅불</div>
                        <div class="i102"><img src="http://www.lotteria.com//Data//Goods/143/DetailImage.jpg" alt="원조 빅불"></div>
                        <div class="i103">5,800원</div>
                    </div> 
                </div>
                <br>
                <div class="main">
                    <div class="item1">
                        <div class="i101">와규 에디션Ⅱ</div>
                        <div class="i102"><img src="http://www.lotteria.com//Data//Goods/306/DetailImage.jpg" alt="와규 에디션Ⅱ"></div>
                        <div class="i103">5,800원</div>
                    </div>
                    <div class="item2">
                        <div class="i101">더블X2</div>
                        <div class="i102"><img src="http://www.lotteria.com//Data//Goods/299/DetailImage.jpg" alt="더블X2"></div>
                        <div class="i103">5,500원</div>
                    </div>
                    <div class="item3">
                        <div class="i101">새우버거</div>
                        <div class="i102"><img src="http://www.lotteria.com//Data//Goods/296/DetailImage.jpg" alt="새우버거"></div>
                        <div class="i103">3,900원</div>
                    </div>
                    <div class="item4">
                        <div class="i101">핫크리스피버거</div>
                        <div class="i102"><img src="http://www.lotteria.com//Data//Goods/100/DetailImage.jpg" alt="핫크리스피버거"></div>
                        <div class="i103">4,900원</div>
                    </div>
                </div>
                <br>
                </li>
                <li>
                    <div class="wrap">
                        <!-- <div class="left">이전 페이지 보기</div> -->
                        <!-- <div class="주문">주문하실 버거의 이름과 수량을 말씀해주세요</div> -->
                        <!-- <div class="right">다음 페이지 보기</div> -->
                    </div>
                    <br>
                    <div class="main">
                    <div class="item1">
                            <div class="i101">치킨버거</div>
                            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/294/DetailImage.jpg" alt="치킨버거"></div>
                            <div class="i103">2,900원</div>
                        </div> 
                        <div class="item2">
                            <div class="i101">T-Rex</div>
                            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/290/DetailImage.jpg" alt="T-Rex"></div>
                            <div class="i103">3,700원</div>
                        </div>
                        <div class="item3">
                            <div class="i101">클래식 치즈버거</div>
                            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/238/DetailImage.jpg" alt="클래식 치즈버거"></div>
                            <div class="i103">4,400원</div>
                        </div>
                        <div class="item4">
                            <div class="i101">불고기버거</div>
                            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/68/DetailImage.jpg" alt="불고기버거"></div>
                            <div class="i103">3,900원</div>
                        </div>
                    </div>
                    <br>
                    <div class="main">
                        <div class="item1">
                            <div class="i101">한우불고기</div>
                            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/233/DetailImage.jpg" alt="한우불고기"></div>
                            <div class="i103">7,000원</div>
                        </div>
                        <div class="item2">
                            <div class="i101">모짜렐라 인 더 버거</div>
                            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/231/DetailImage.jpg" alt="모짜렐라 인 더 버거"></div>
                            <div class="i103">6,000원</div>
                        </div>
                        <div class="item3">
                            <div class="i101">AZ버거</div>
                            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/219/DetailImage.jpg" alt="AZ버거"></div>
                            <div class="i103">6,600원</div>
                        </div>
                        <div class="item4">
                            <div class="i101">데리버거</div>
                            <div class="i102"><img src="http://www.lotteria.com//Data//Goods/26/DetailImage.jpg" alt="데리버거"></div>
                            <div class="i103">2,500원</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="side">
            <div class="주문">주문하실 버거의<br>이름과 수량을<br>말씀해주세요</div>
            <div class="select"><br>선택하신 버거</div>
            <br>
            <ul id="orderlist">
            </ul>
        </div>
    </section>

    <script>
        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList;
        var speechlist = new Array();
        {% comment %} csrf token 추가 {% endcomment %}
        var token = '{{csrf_token}}'; 
        {% comment %} grammarlist에 버거 이름들을 추가할 수 있을지 시도해보자 {% endcomment %}
        var grammar = '#JSGF V1.0; grammar menus; public <menu> = 폴더버거 | 핫치킨 | 폴더버거 핫치킨 | 폴더버거핫치킨 | 비프 | 리아미라 | 클버거 | 빅불 | 치킨 | 와규 | 더블 | 새우버거 | 핫크리스피 | 티렉스 | 클래식 | 치즈버거 | 새우버거 | 불고기버거 | 한우불고기 | 모짜렐라 | 인더버거 | 모짜렐라인더버거 | AZ | 데리버거 | 버거 | magenta | maroon | moccasin | navy | olive | orange | orchid | peru | pink | plum | purple | red | salmon | sienna | silver | snow | tan | teal | thistle | tomato | turquoise | violet | white | yellow ;'
        
        var recognition = new SpeechRecognition();
        var speechRecognitionList = new SpeechGrammarList();
        speechRecognitionList.addFromString(grammar, 1.1);
        
        recognition.grammars = speechRecognitionList;
        {% comment %} 인식된 문장을 하나로 합쳐 줌. True일 경우 중간에 쉬어도 인식이 끊기지 않는다. {% endcomment %}
        recognition.continuous = false; 
        recognition.lang = 'ko-kr';
        {% comment %} 최종적으로 인식된 문장을 확인할지 실시간으로 인식된 문장을 확인할지 결정하는 recognition.interimResults {% endcomment %}
        recognition.interimResults = false;
        recognition.maxAlternatives = 1;

        var diagnostic = document.querySelector('.output');
        var bg = document.querySelector('html');
        
        document.body.onload = function() {
            recognition.start();
            console.log('주문할 내용을 말해주세요.');
        }

        recognition.onresult = function(event) {
            var last = event.results[0][0].transcript;
            speechlist.push(last);
            console.log("인식 내용 : ", last)
            {% comment %} console.log(speechlist) {% endcomment %}
            console.log("서버에서 인식 중입니다...")

            {% comment %} if (last.search('다음') != -1 && last.search('페이지') != -1){
                window.location.href='/menu2.html'
            } {% endcomment %}

            $.ajax({
                headers: { "X-CSRFToken": token },
                url: "{% url 'getorder' %}",
                type: "POST",
                data: {
                    getdata: last
                },
                
                success: function(result){
                    console.log("서버 처리 후 메뉴 : ",result.message)
                    $('#orderlist').append('<li class="select_name">'+result.message+"&nbsp;"+'<br>'+'</li>');
                },
                error: function(e){
                    console.log('error:', e.status);
                },
                
            })

                    
        }

        recognition.onend = function(event) {
            recognition.start();
        };
        
        recognition.onerror = function(event) {
            message.textContent = 'Error occured in recognition: ' + event.error;
        }
    </script>
</body>
</html>